.app {
  width: 650px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 14px 4px #375c821c;
  font-family: 'PT Sans', sans-serif;
}

.header {
  height: 50px;
  display: flex;
}

.header-image {
  width: 50px;
  height: 50px;
  background: url('https://silind-s3.s3.eu-west-2.amazonaws.com/direflow/logo.png');
  background-size: contain;
}

.header-title {
  font-size: 34px;
  line-height: 50px;
  margin-left: 25px;
  color: #5781C2;
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
}

.sample-container {
  width: 350px;
  justify-content: space-between;
  display: flex;
}

.sample-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  color: #005499;
}

.button {
  width: 150px;
  height: 45px;
  font-family: 'PT Sans', sans-serif;
  background-color: #223a7c;
  color: white;
  box-shadow: 2px 2px 5px #16314d98;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 4px 4px 8px #16314d63;
  background-color: #40558f;
}
