.app {
  width: 400px;
  height: 400px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 14px 4px #375c821c;
  border-bottom: 5px solid #cad5e6;
  margin: 100px auto;
}

.header-title {
  font-size: 34px;
  color: #5781C2;
}

.sample-text {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.button {
  width: 150px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  background-color: #5781C2;
  color: white;
  box-shadow: 2px 2px 5px #16314d98;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}
