name: test

on:
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    
    - name: Prepare
      run: |
        npm install yarn -g
        npm install typescript -g

    - name: Install
      run: |
        yarn clean:all
        yarn install:all

    - name: Test
      run: |
        yarn test

    - name: Build
      run: |
        yarn build:all
